@import 'index';
@import 'mediaQueries';

#about-me {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 15% 1fr 15%;
    grid-template-columns: 300px 1fr 300px;
    @include responsive(tab-land) {
        grid-template-columns: 150px 1fr 150px;
    }
    @include responsive(tab-port) {
        grid-template-columns: 100px 1fr 100px;
    }
    @include responsive(phone) {
        grid-template-columns: 50px 1fr 50px;
    }
    #about-me-wrapper {
        grid-row-start: 2;
        grid-column-start: 2;
        @include flexCenter(column);
        justify-content: space-around;
        #info {
            font-family: $primary-font;
            font-size: 50px;
            text-align: center;
            @include responsive(tab-port) {
                font-size: 40px;
            }
            @include responsive(phone) {
                font-size: 22px;
            }
        }
        img {
            height: 4rem;
            display: inline-block;
            @include responsive(phone) {
                height: 3rem;
            }
        }
        #hobbies {
            font-family: $primary-font;
            font-size: 50px;
            text-align: center;
            @include responsive(tab-port) {
                font-size: 40px;
            }
            @include responsive(phone) {
                font-size: 22px;
            }
        }    
    } 
    footer {
        grid-row-start: 3;
        grid-column-start: 2;
    }
}