//colours
$light-gray: rgb(221, 221, 221);
$charcoal: rgb(34, 40, 49);
$navy: rgb(48, 71, 94);
$red: rgb(240, 84, 84);

//fonts
$primary-font: Neoteric;
$secondary-font: Consolas;

//functions
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

body {
    padding: 0;
    margin: 0;
    background: $light-gray;
    color: $charcoal;
}

section {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

#red {
  color: $red;
}
#navy {
  color: $navy;
}

header {
  @include flexCenter(row);
  grid-row-start: 1;
  grid-column-start: 2;
  font-family: $secondary-font;
  font-size: 70px;
}

footer {
  @include flexCenter(row);
  img {
      width: 3rem;
      height: auto;
      cursor: pointer;
  }
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $charcoal;
}