@import 'index';

#landing-page {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10% 1fr 15%;
    grid-template-columns: 300px 1fr 300px;
    header {
        grid-column-start: 2;
        @include flexCenter(row);
        justify-content: flex-end;
        i {
            margin-left: 0.5rem;
            cursor: pointer;
            font-size: 45px;
        }
    }
    #landing-wrapper {
        grid-column-start: 2;
        grid-row-start: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #landing-left {
        grid-column-start: 1;
        font-family: $primary-font;
        @include flexCenter(column);
        align-items: flex-start;
        #hi {
            margin: 0;
            font-size: 40px;
            font-weight: bold;
        }
        #my-name {
            margin: 0;
            font-size: 90px;
        }
        #whoami {
            font-size: 35px;
            font-family: $secondary-font;
            div {
                text-indent: 4rem;
                #red {
                    color: $red;
                }
                #navy {
                    color: $navy;
                }
            }
        }
    }

    #landing-right {
        grid-column-start: 2;
        display: inline-block;
	    position: relative;
        img {
            height: auto;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
        }
        button {
            color: $light-gray;
            background: $charcoal;
            border: none;
            cursor: pointer;
            font-family: $primary-font;
            font-size: 35px;
            font-weight: bold;
            width: 14rem;
            height: 3.5rem;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    footer {
        grid-row-start: 3;
        grid-column-start: 2;
        @include flexCenter(row);
        img {
            width: 3rem;
            height: auto;
            cursor: pointer;
        }
    }
}