@import 'index';

#projects-section {
    min-height: 100vh;
}
#my-projects {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 15% 70% 15%;
    @include responsive(tab-land) {
        grid-template-columns: 150px 1fr 150px;
    }
    @include responsive(tab-port) {
        grid-template-columns: 100px 1fr 100px;
    }
    @include responsive(phone) {
        grid-template-columns: 50px 1fr 50px;
    }
    footer {
        grid-column-start: 2;
        grid-row-start: 3;
    }
}