@import 'index';

@mixin styleDivButtons {
    @include flexCenter(row);
    font-size: 40px;
    color: $light-gray;
    font-weight: bold;
    font-family: $primary-font;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}

.skills-slider {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 15% 30% 15% 20%;
    grid-template-columns: 15% 15% 40% 15% 15%;
    #stack {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        @include styleDivButtons();
        border-bottom: 10px solid $navy;
        &:hover {
            border-bottom: 10px solid $light-gray;
        }
    }

    #tools {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        @include styleDivButtons();
        border-bottom: 10px solid $navy;
        &:hover {
            border-bottom: 10px solid $light-gray;
        }
    }
    #arrow-left {
        grid-column-start: 1;
        grid-row-start: 3;
        @include flexCenter(column);
        img {
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
            &:active {
                transform: scale(1);
            }
        }
    }
    #arrow-right {
        grid-column-start: 5;
        grid-row-start: 3;
        @include flexCenter(column);
        img {
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
            &:active {
                transform: scale(1);
            }
        }
    }
    #left {
        @include flexCenter(row);
        grid-column-start: 2;
        grid-row-start: 3;
        img {
            transform: scale(0.5);
        }
    }
    #center {
        @include flexCenter(row);
        grid-column-start: 3;
        grid-row-start: 3;
        position: relative;
    }

    #right {
        @include flexCenter(row);
        grid-column-start: 4;
        grid-row-start: 3;
        img {
            transform: scale(0.5);
        }
    }

    #stars {
        @include flexCenter(row);
        position: relative;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
    }
}